---
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";

const collection = await getCollection("bookshelf");
const summaries = collection.sort(
  (a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf(),
);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <ul class="flex flex-col gap-1.5">
      {
        summaries.map((summary) => (
          <li>
            <a
              href={`/bookshelf/${summary.slug}`}
              class="group flex justify-between gap-3"
            >
              <span class="group-hover:underline">{summary.data.title}</span>
              <span class="text-nowrap text-zinc-500">
                {formatDate(summary.data.publishedAt)}
              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
